.art-detail {
  display: flex;
  margin-top: 4rem;

  @media screen and (max-width: 640px) {
    flex-direction: column;
    margin-top: 0;
  }

  .art-data {
    width: 100%;
    max-width: 22rem;
    margin-right: 4rem;
  }

  label {
    margin: 1rem 0.5rem 0.5rem 0;
    padding: 0.25rem 0.5rem;
    background-color: lightgray;

    &.monster {
      background-color: coral;
    }
  }

  img {
    width: auto;
    max-height: 36rem;
    margin-top: 1rem;

    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }
}
