@import "../../styles/variables";

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-card {
  padding: 0;
  margin: 1.5rem 1.5rem 1.5rem 0;
  width: 100%;
  max-width: 60rem;
  height: 15rem;
  border: 1px solid gray;
  display: flex;

  &:hover,
  &:focus {
    .cta {
      border-bottom: 2px solid $accent;
    }
  }

  img {
    width: auto;
    max-width: 15rem;
    height: auto;
  }

  .text {
    font-size: 1.25rem;
    margin: 1rem;
    position: relative;

    h2,
    p {
      font-size: 1.25rem;
      margin: 0;
    }

    .cta {
      text-align: center;
      width: auto;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
